$lightBrown: #a37a4b;
$darkBrown: #433323;
$endBrown: #b59774;

$darkBlue: #1d3557;
$lightBlue: #2d5286;

$darkTeal: #1b7752;
$lightTeal: #3ead81;

$lightRed: #ad3e3e;

$white: #f1f1f1;
$darkGray: #666666;
$lightGray: #AAAAAA;
$black: #1E1E1E;

