.ratesSection {
	@apply min-h-screen grid grid-cols-1  gap-y-16  justify-center xl:grid-cols-3 container mx-auto;
}



.image {
	background-blend-mode: screen;
	background-size: cover;
	clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	@apply relative w-full h-44;

	&1 {
		
		background-image: url('/rates_haircut.jpg'),
		linear-gradient(to right bottom, #433323, #a37a4b);
	}

	&2 {
		background-image: url('/rates_shave.jpg'),
			linear-gradient(to right bottom, #1d3557, #2d5286);

	}

	&3 {
		background-image: url('/rates_package.jpg'),
			linear-gradient(to right bottom, #1b7752, #3ba179);

	}
}
