@import './variables.scss';

.testimoniesSection{
  background-image: linear-gradient(to top left, rgba($darkBrown,.5), rgba($lightBrown,.5)), url('../assets/bg_testimonials.jpg');
  clip-path: polygon(0 15%, 0 100%, 100% 100%, 100% 0);
  @apply px-4 min-h-screen bg-fixed grid grid-cols-1 justify-center items-center bg-no-repeat bg-top  bg-cover;
}

.cardTestimony{
  box-shadow: 0 5px 4px rgba(rgb(32, 32, 32), .6);
  background-color: #ffffffaf;
  @apply w-full flex md:max-w-2xl container mx-auto p-4 transition-all duration-500 text-black rounded-tl-3xl rounded-br-3xl hover:rounded-br-none hover:rounded-tl-none hover:rounded-tr-3xl hover:rounded-bl-3xl;
}

